.media {
  aspect-ratio: 16 / 9;
}

.media img {
  width: 100%;
}

.media .iframe {
  transform: scale(1.35);
}

.media .onLoad {
  width: 100%;
  height: 25rem;
  position: relative;
}

@media (max-width: 600px) {
  .media .onLoad {
    height: 18.75rem;
  }
}

@media (max-width: 450px) {
  .media .onLoad {
    height: 13.5rem;
  }
}
